#carousel-example-generic>.carousel-inner>.item>img{
	margin:auto;
	width:100%;
	height:100%;
	
}
.navigation>.row>div+div{
	height:30px;
	line-height: 30px;
	text-align: center;
}
.navigation>div a{
	display: inline-block;
	width: 100%;
	height:30px;
	text-decoration: none;
	line-height: 8px;
	color: #777;
	border-bottom: 2px solid transparent;
}
.navigation>div:not(:first-child) a:hover,
.navigation>div:not(:first-child) a:focus {
	border-bottom:2px solid #E9232C;
}
.navigation li.chooes>a {
	border-bottom:2px solid #E9232C;
}
#news .Ahead li {
	width: 25%;
}
#product ul {
	width: 720px !important;
}
#product .scroll {
	overflow-x: scroll;
}